In [17]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\duda\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\duda\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\duda\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\duda\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\duda\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\duda\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [7]:
localidades_df = pd.read_csv('datasets/cadastro_localidades.csv')
localidades_df.head()

   ID Localidade            País        Continente
0              1  Estados Unidos  América do Norte
1              2          Canadá  América do Norte
2              3     Reino Unido            Europa
3              4          França            Europa
4              5          Itália            Europa

In [8]:
vendas_df = pd.read_csv('datasets/cadastro_vendas.csv')
vendas_df.head()

  Data da Venda Ordem de Compra   SKU  ID Cliente  Qtd Vendida  ID Loja
0      1/1/2021         SO48797  HL93       14335            1      153
1      1/1/2021         SO48802  HL92       24923            1       58
2      1/1/2021         SO48801  HL56       15493            1      132
3      1/1/2021         SO48799  HL73       26708            1       61
4      1/1/2021         SO48798  HL84       23332            1       55

In [19]:
vendas_df.rename(columns={'Data da Venda': 'data_venda', 'Ordem de Compra':'ordem_compra', 'ID Cliente': 'id_cliente', 'Qtd Vendida':' qtd_vendida', 'ID Loja': 'id_loja'}, inplace=True)
vendas_df.head()

  data_venda ordem_compra   SKU  id_cliente   qtd_vendida  id_loja
0   1/1/2021      SO48797  HL93       14335             1      153
1   1/1/2021      SO48802  HL92       24923             1       58
2   1/1/2021      SO48801  HL56       15493             1      132
3   1/1/2021      SO48799  HL73       26708             1       61
4   1/1/2021      SO48798  HL84       23332             1       55

In [10]:
#1. Quantas vendas diferentes foram registradas? 
quantidade_vendas_diferentes = vendas_df['ordem_compra'].nunique()
print(f'Quantidade de vendas diferentes: {quantidade_vendas_diferentes}')

Quantidade de vendas diferentes: 10695

In [11]:
#2. Qual produto aparece mais vezes nas vendas? 
produto_mais_vendido = vendas_df['SKU'].value_counts().idxmax()
produto_mais_vendido

'HL164'

In [12]:
#3. Qual loja registrou o maior número de vendas? 
loja_mais_vendas = vendas_df['id_loja'].value_counts().idxmax()
loja_mais_vendas

np.int64(200)

In [13]:
#4. Qual a quantidade total vendida de um produto específico (escolhido por você)?
produto_especifico = vendas_df['SKU'].value_counts().get('HL77') 
produto_especifico

np.int64(278)

In [23]:
# 5. Em qual período do ano (início, meio ou fim) ocorreram mais vendas?
total_vendas_inicio = vendas_df[' qtd_vendida'].sum()
total_vendas_inicio

vendas_inicio = vendas_df[(vendas_df['data_venda'].dt.month >= 1) & (vendas_df['data_venda'].dt.month <= 4)]
vendas_inicio.head()
total_vendas_meio = vendas_df[' qtd_vendida'].sum()
total_vendas_meio
total_vendas_fim = vendas_df[' qtd_vendida'].sum()
total_vendas_fim

AttributeError: Can only use .dt accessor with datetimelike values

In [16]:
#6. Qual loja mais vendeu produtos no mês 5? 
vendas_maio = vendas_df[vendas_df['data_venda'].dt.month == 5]
loja_mais_vendas_maio = vendas_maio['id_loja'].value_counts().idxmax()
quantidade_vendas_maio = vendas_maio['id_loja'].value_counts().max()

print(f'A loja que mais vendeu no mês 5 foi: {loja_mais_vendas_maio}, com {quantidade_vendas_maio} vendas.')

AttributeError: Can only use .dt accessor with datetimelike values

In [16]:
#7. Considerando apenas os 3 primeiros meses, qual o produto mais vendido? 
vendas_primeiros_meses = vendas_df[vendas_df['data_venda'].dt.month.isin([1, 2, 3])]
produto_mais_vendido_primeiros_meses = vendas_primeiros_meses['SKU'].value_counts().idxmax()
quantidade_vendida = vendas_primeiros_meses['SKU'].value_counts().max()

print(f'O produto mais vendido nos 3 primeiros meses foi: {produto_mais_vendido_primeiros_meses}, com {quantidade_vendida} vendas.')

O produto mais vendido nos 3 primeiros meses foi: HL78, com 61 vendas.

In [20]:
#Parte 2 – Relacionando tabelas
#1. A partir da tabela de lojas, descubra em que país ocorreram mais vendas. 

lojas_df = pd.read_csv('datasets/cadastro_lojas.csv')
lojas_df.head()

,ID Loja,Nome da Loja,Quantidade Colaboradores,Tipo,id Localidade,Gerente Loja,Documento Gerente
0,1,Loja Seattle No.1,17,Física,1,"Gonçalves, João",666418406
1,2,Loja Seattle No.2,25,Física,1,"Pinheiro, Fernanda",782269727
2,3,Loja Kennewick,26,Física,1,"Alves, Rodrigo",566476645
3,4,Loja Bellevue,19,Física,1,"Costa, Raissa",598832615
4,5,Loja Redmond,33,Física,1,"Monteiro, Felipe",200191505

In [21]:
lojas_df.rename(columns={'ID Loja': 'id_loja', 'Nome da Loja':'nome_loja', 'Quantidade Colaboradores': 'qtd_colaboradores', 'Tipo':' tipo', 'id Localidade': 'id_localidade','Gerente Loja': 'gerente_loja','Documento Gerente': 'documento_gerente'}, inplace=True)
lojas_df.head()

,id_loja,nome_loja,qtd_colaboradores,tipo,id_localidade,gerente_loja,documento_gerente
0,1,Loja Seattle No.1,17,Física,1,"Gonçalves, João",666418406
1,2,Loja Seattle No.2,25,Física,1,"Pinheiro, Fernanda",782269727
2,3,Loja Kennewick,26,Física,1,"Alves, Rodrigo",566476645
3,4,Loja Bellevue,19,Física,1,"Costa, Raissa",598832615
4,5,Loja Redmond,33,Física,1,"Monteiro, Felipe",200191505

In [25]:
lojas_df['id_localidade'].nunique()

34

In [26]:
lojas_por_localidade = lojas_df.groupby('id_localidade')['id_loja'].apply(list).reset_index()
lojas_por_localidade.head()

   id_localidade                                            id_loja
0              1  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15...
1              2  [22, 282, 283, 284, 285, 286, 287, 288, 289, 2...
2              3  [156, 201, 202, 203, 204, 205, 206, 207, 208, ...
3              4           [215, 216, 217, 218, 219, 220, 221, 309]
4              5                          [222, 223, 224, 225, 226]

In [6]:
vendas_por_localidade = vendas_df.merge(lojas_df[['id_loja', 'id_localidade']], on='id_loja')
vendas_por_localidade.head()

NameError: name 'lojas_df' is not defined

In [5]:
#2. Usando a tabela de produtos, calcule o faturamento estimado de um produto, multiplicando a quantidade vendida pelo preço unitário (do produto escolhido por você).
vendas_df = pd.read_csv('datasets/cadastro_vendas.csv')
vendas_df['data_venda'] = pd.to_datetime(vendas_df['data_venda'])
produto_escolhido = 'HL77'
vendas_produto = vendas_df[vendas_df['SKU'] == produto_escolhido]

produtos_df = pd.read_csv('datasets/cadastro_produtos.csv')
preco_unitario = produtos_df.loc[produtos_df['SKU'] == produto_escolhido, 'Preco Unitario'].values[0]
faturamento_estimado = vendas_produto['qtd_vendida'].sum() * preco_unitario
print(f'O faturamento estimado do produto {produto_escolhido} é: R$ {faturamento_estimado:.2f}')

KeyError: 'data_venda'

In [25]:
#3. Qual tipo de produto teve mais unidades vendidas no total? 
produtos_df = pd.read_csv('datasets/cadastro_produtos.csv')
vendas_com_tipo = vendas_df.merge(produtos_df[['SKU', 'tipo']], on='SKU')
vendas_por_tipo = vendas_com_tipo.groupby('Tipo')[' qtd_vendida'].sum()
tipo_mais_vendido = vendas_por_tipo.idxmax()
quantidade_mais_vendida = vendas_por_tipo.max()
print(f'O tipo de produto mais vendido foi: {tipo_mais_vendido}, com {quantidade_mais_vendida} unidades.')

KeyError: "['tipo'] not in index"